html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  width: 40%;
}
.mx-1{
  margin-right: calc(1rem * 0.5);
  margin-left: calc(1rem * 0.5);
  list-style-type: none;
  font-weight: bold ;
  text-decoration: none;
 color: black;
}